/* * {
    border: salmon solid 0.5px;
} */

html,
body {
    height: 100%;
}

main {
    background-color: rgb(240, 240, 240);
}


/* ヘッダー */
.header {
    height: 10vh;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-ttl {
    font-size: 32px;
}

.header-navi {
    height: fit-content;
}

.header-navi__list {
    display: flex;
}

.header-navi__list li {
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
}

.header-navi__link{
    text-decoration: none;
}

.header-nav__button {
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
}


/* フッター */
footer {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}